.color{
    background-color: white;
    box-shadow: 1px 2px 6px black;
    height: auto;
    width: 500px;
    margin-left: 50px;
    margin-top: 20px;
}
.TOP{
    text-align: center;
    color: blue;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
.poll{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
i{
    font-size: 35px;
    margin-top: 3px;
    margin-right: 5px;
}
.plate{
    font-size: 15px;
}
.pek{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.pet{
    text-align: center;
    color: blue;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
#plea, #ock{
    width: 40px;
    height: 40px;
}
.Flea{
    width: 40px;
    height: 10px;
}
.mile{
    margin-left: 35px;
    margin-right:30px ;
} 
.pale{
    text-align: center;
}
#former{
    width: 360px;
    height: 30px;
}
.center{
    text-align: center;
}
.clerk{
    background-color: white;
    border: bleck;
    width: 360px;
    height: 50px;
    border-radius: 5px;
    margin-left: 5px;
}
.clerk{
    display: flex;
    justify-content: center;
    align-items: center;
}
#link{
    text-decoration: none;
    font-size: 15px;
    padding-left: 30px;
}
#plain{
    text-decoration: none;
    font-size: 15px;
    
}
#piss{
    text-decoration: none;
    font-size: 15px;
    
}
.ment{
    background-color: blue;
    border: none;
    height: 50px;
    border-radius: 5px;
    width: 360px;
}
@media (max-width:768px) {
    .color{
        margin-left: 0px;
        width: 350px;
    }
    .form-control{
        margin-left: -50px;
        width: 300px !important;
    }
    .ment{
        margin-left: -50px;
        width: 300px !important;
    }
    .clerk{
        margin-left: -50px;
        width: 300px !important;
    }
    .center{
        margin-left: -40px;
    }
    .pale{
        margin-left: -40px;
    }
    .link{
        margin-left: -20px;
    }
}