.background {
    background-color: white;
    box-shadow: 1px 2px 10px black;
    width: 400px;
    height: 400px;
}

.header1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-brands {
    font-size:30px;
}

.head {
    font-size: 30px;
    margin-left: 5px;
}

#can {
    text-align:center;
}

.form-control {
    width: 300px !important;
    display: flex !important;
    justify-content: center !important;
}
.form{
    display: flex !important;
    justify-content: center !important;
}
.for{
    display: flex !important;
    justify-content: center !important;
}
.form2 {
    margin-top:5px;
    width:300px !important;
    height:40px;
    border:none;
    background-color: blue;
    border-radius:5px;
}
.pull{
    display: flex;
    justify-content:space-evenly;
}
.please {
    text-decoration:none;
    display:flex;
    justify-content:center;
}
.roller{
    display:flex;
    justify-content:center;
}
.ment{
    color:gray;
    font-size:20px;
}
.roll{
    color:gray;
    font-size:20px;
}
.pale{
    font-size: 10px;
    text-align: center;
}
@media (max-width:768px) {
    .background{
    box-shadow: 0px 0px 0px white !important;
    }
    /* .pull{
        margin-left: 75px !important;
    } */

}
@media (min-width:768px) {
    .background{
        width: 400px !important;
        margin-top: 150px;
    }
}